*,
body {
  font-family: Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#topnav .homepage {
  float: right;
  font-weight: bold;
  background-color: #ebf9f8;
  border: 5px solid #33CCCC;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.name {
  text-align: center;
  margin-left: 150px;
}

/* content */
h1 {
  font-weight: bold;
  background-color: #EBF9F8;
}

h1 span {
  font-weight: bold;
  color: #16BBCE;
}

h3 {
  font-size: 20px;
  color: black;
  margin-left: 30px;
}


h6 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

.name {
  background-color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.square_circle {
  border-radius: 50%;
}

#reflection,
#summary {
  border: 5px solid #33cccc;
}