*,
body {
  font-family: Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#topnav {
  font-family: Arial;
  background-color: #EBF9F8;
}

#topnav h1 {
  margin-left: 60px;
  font-size: 30px;
}

.essaypage {
  float: left;
  width: 200px;
  margin-left: 60px;
  font-weight: bold;
  background-color: #ebf9f8;
  border: 5px solid #33CCCC;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  border-radius: 4px;

}

.name,
.theme {
  text-align: center;
  margin-right: 160px;
}

h1 {
  font-size: 30px;
}

h1 span {
  font-weight: bold;
  color: #33cccc;
}

#card-essay {
  background-color: #ebf9f8;
  font-weight: bold;
  color: black;
  font-size: 20px;
  border: 4px solid #33CCCC;
  margin-left: 60px;
}

#aces-icon {
  text-decoration: none;
  margin-left: 100px;
  width: 80px;
  height: 80px;
  border: 4px solid #33CCCC;
}

/* ACES */
section #about,
#content,
#edux,
#skills {
  margin: auto;
  width: 100%;
}

#about p,
h1 {
  margin-left: 60px;
}

#about .github,
.email,
.linkedin {
  text-decoration: none;
  margin-left: 60px;
}

#content .card {
  border: 5px solid #33cccc;
  font-weight: bold;
  width: 500px;
  margin-left: 30px;
}

#content .content-icons {
  flex-direction: row;
}

#content .repository,
.website {
  color: black;
  font-size: 16px;
  border: 4px solid #33cccc;
  font-weight: bold;
  width: 400px;
  margin-left: 60px;
}

#content .repository h5,
h6 {
  margin-left: 20px;
}

#content .website h5,
h6 {
  margin-left: 20px;
}

#content #card-link1,
#card-link2,
#card-link3 {
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: #EBF9F8;
  border: 4px solid #33CCCC;
  margin-left: 20px;
}

#content .repository,
.website {
  font-weight: bold;
  margin-left: 60px;
  font-size: 16px;
  width: 400px;
  height: 280px;
  border: 4px solid #33CCCC;
}

#content #exploration1,
#essay1 {
  font-weight: bold;
  width: 75px;
  color: black;
  border: 3px solid black;
  margin-left: 20px;
}

#edux .school,
.bootcamp {
  border: 4px solid #33CCCC;
  width: 400px;
  height: 240px;
  margin-left: 60px;
}

#skills1-1 {
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

h2 {
  text-align: center;
  background-color: #EBF9F8;
  color: #33cccc;
  font-weight: bold;
  width: 100%;
}

h2 span {
  color: black;
}

.square_circle {
  border-radius: 50%;
}