*,
body {
  font-family: Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.essaypage {
  float: left;
  width: 900px;
  margin-left: 30px;
  font-weight: bold;
  background-color: #ebf9f8;
  border: 3px solid #16BBCE;
  margin-right: 30px;
  text-decoration: none;
  color: black;
  border-radius: 3px;
}

.name,
.theme {
  text-align: center;
}

h1 span {
  font-weight: bold;
  color: #16bbce;
}

#card-essay {
  background-color: #ebf9f8;
  font-weight: bold;
  color: black;
  font-size: 20px;
  border: 4px solid #33CCCC;
  margin-left: 60px;
}

#aces-icon {
  text-decoration: none;
  margin-left: 100px;
  width: 75px;
  height: 75px;
  border: 5px solid #16BBCE;
}

/* ACES */
section #about,
#content,
#edux,
#skills {
  margin: auto;
  width: 100%;
}

#about p,
h1 {
  margin-left: 60px;
}

#about .github,
.email,
.linkedin, .dev2 {
  text-decoration: none;
  margin-left: 60px;
  padding-right: -10px;
}

#content .content-icons {
  flex-direction: row;
}

#content .repository,
.website {
  color: black;
  font-size: 16px;
  border: 4px solid #33cccc;
  font-weight: bold;
  width: 400px;
  margin-left: 60px;
  height: 280px;
}

#content h5,
h6 {
  margin-left: 20px;
}

#content #card-link1 {
  font-weight: bold;
  width: 75px;
  color: black;
  border: 3px solid black;
  margin-left: 20px;
}

#content #card-link2 {
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: #EBF9F8;
  border: 4px solid #33CCCC;
  margin-left: 20px;
}

#edux .school,
.bootcamp {
  border: 4px solid #33CCCC;
  width: 400px;
  height: 200px;
  margin-left: 60px;
}

#skills1-1 {
  margin-left: 60px;
  width: 75px;
  height: 75px;
}

h2 {
  text-align: center;
  background-color: #EBF9F8;
  color: #16BBCE;
  font-weight: bold;
  width: 100%;
}

h2 span {
  color: black;
}

.square_circle {
  border-radius: 50%;
}